/* Добавьте эти стили в ваш файл CSS */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Занимаем всю высоту экрана */
  }
  
  .content {
    flex: 1; /* Занимаем все доступное пространство, кроме футера */
  }
  
  .footer {
    margin-top: rem(0px); /* Отделяем футер от содержимого выше */
    border-top: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));  
    width: 100%;
  } 

.inner {  
    display: flex;  
    justify-content: space-between;  
    align-items: center;  
    padding-top: var(--mantine-spacing-xl);  
    padding-bottom: var(--mantine-spacing-xl);  
}  

@media (max-width: $mantine-breakpoint-xs) {  
    .inner {  
        flex-direction: column; /* В столбик на маленьких экранах */  
    }  
}  

.links {  
    @media (max-width: $mantine-breakpoint-xs) {  
        margin-top: var(--mantine-spacing-md);  
    }  
}