.user {
    display: block;
    width: 100%;
    padding: var(--mantine-spacing-md);
    color: #5430b0;
  
    /* @mixin hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
    } */
  }