.root {
    padding-top: rem(80px);
    padding-bottom: rem(80px);
    text-align: center; /* Центрирование содержимого */
  }
  
  .title {
    font-weight: 900;
    font-size: rem(34px);
    margin-bottom: var(--mantine-spacing-md);
    font-family: Greycliff CF, var(--mantine-font-family);
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: rem(32px);
    }
  }
  
  .imageContainer {
    width: 60%;  /* Ширина контейнера с GIF */
    margin: 0 auto; /* Центрирование изображения */
  }
  
  .image {
    width: 100%;
  }
  
  .textContainer {
    margin-top: var(--mantine-spacing-md);
  }
  
  @media (max-width: $mantine-breakpoint-sm) {
    .title {
      font-size: rem(32px);
    }
  }
  