/* LogoutPage.css */

/* Устанавливаем фон страницы */
.logout-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://avatars.dzeninfra.ru/get-zen_doc/2907131/pub_60c1daa871595c4e40cccdc1_60c1dded7cb731529ff115be/scale_1200');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  
  /* Полупрозрачный фон */
  .logout-page-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный цвет */
    z-index: 1;
  }
  
  /* Стили для контента на странице */
  .logout-page-content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff;
  }
  
  /* Центрируем кнопку */
  .logout-page-button {
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
  }
  